{% extends 'pages/base.jinja' %}

{% block title %}
    Hello, World!
{% endblock %}

{% block content %}
    <section>
        <h1>Hello!!!</h1>

        <p>this is my about page</p>
    </section>
{% endblock %}
