{% extends 'pages/base.jinja' %}

{% block title %}
    Hello, World!
{% endblock %}

{% block content %}
    <h1>Hello!!!</h1>

    <p>What is beauty, or goodness, or art, or love, or God? We are forever teetering on the brink of the unknowable, and trying to understand what can't be understood.</p>
{% endblock %}
