{% extends 'pages/base.jinja' %}

{% block title %}
    Flask Intro -- Random Number
{% endblock %}

{% block content %}
    <section>
        <h1>this is a Random Number generator</h1>

        <article id = randnum>
            {{ Number }}
        </article>
    </section>
{% endblock %}
