{% extends 'pages/base.jinja' %}

{% block title %}
    Hello, World!
{% endblock %}

{% block content %}
    <section>
        <h1>Hello!!!</h1>

        <p>When do you think people die? When they are shot through the heart by the bullet of a pistol? No. When they are ravaged by an incurable disease? No. When they drink a soup made from a poisonous mushroom!? No! It's when… they are forgotten.</p>
    </section>
{% endblock %}
